{% extends 'base.html.twig' %}

{% block title %}Авторизация на BlaBlaArticle{% endblock %}

{% block bodyClass %}signin-body{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Авторизация</h5>
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey | trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <form class="form-signin" method="post">
                            <input
                                    type="hidden"
                                    name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="form-label-group">
                                <input
                                        type="email"
                                        id="inputEmail"
                                        name="email"
                                        class="form-control"
                                        placeholder="Ваш Email"
                                        value="{{ last_username }}"
                                        required
                                        autofocus
                                >
                                <label for="inputEmail">Ваш Email</label>
                            </div>

                            <div class="form-label-group">
                                <input
                                        type="password"
                                        id="inputPassword"
                                        name="password"
                                        class="form-control"
                                        placeholder="Пароль"
                                        required
                                >
                                <label for="inputPassword">Пароль</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="customCheck1"
                                        name="_remember_me"
                                >
                                <label class="custom-control-label" for="customCheck1">Запомнить меня</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Войти</button>
                            <hr class="my-4">
                            <div class="text-center"><a href="{{ path('app_register') }}">Регистрация</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
