{% extends 'base.html.twig' %}

{% block content %}
    <section class="features-icons bg-light text-center" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-comment-dots m-auto text-primary"></i>
                        </div>
                        <h3>Свои Слова</h3>
                        <p class="lead mb-0">Вставляйте нужные вам слова!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-photo-video m-auto text-primary"></i>
                        </div>
                        <h3>Свои Изображения</h3>
                        <p class="lead mb-0">Размещайте правильные изображения!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-network-wired m-auto text-primary"></i>
                        </div>
                        <h3>API</h3>
                        <p class="lead mb-0">Подключайтесь к сервису по API!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                     style="background-image: url('image/bg-showcase-1.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Добавляйте свои слова</h2>
                    <p class="lead mb-0">При генерации контента статьи, вы можете наполнить его нужными словами для
                        вашего
                        бизнеса. Столько сколько нужно. Хоть все ими заполоните!</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image: url('image/bg-showcase-2.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Вставляйте изображения</h2>
                    <p class="lead mb-0">Надоели стандартные красивые изображения. Прикрепляйте к вашим статьям свою
                        уникальные фотографии. Смазанные, с пальцем на пол фотографии, с кривым лицом. Все пойдет - вы
                        здесь
                        главный!</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                     style="background-image: url('image/bg-showcase-3.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Интегрируйтесь по API</h2>
                    <p class="lead mb-0">Придумайте и настройте свою собственную интеграцию с сервисом. Нужно ответить
                        на
                        комментарий в соц.сети - получите его по API. Нужно написать новую статью по программированию -
                        получите ее по API. Хотите вкусно покушать - сходите за едой, а статью пускай за вас напишет
                        API!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials text-center bg-light" id="author">
        <div class="container">
            <h2 class="mb-5">Автор проекта</h2>
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="image/testimonials-1.jpg" alt="">
                        <h5>Пирожкова П.</h5>
                        <p class="font-weight-light mb-0">Программист / PR / и ген.дир</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
