<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}BlaBlaArticle - Лучший генератор статей{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic"
              rel="stylesheet" type="text/css">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
{% block body %}{% endblock %}
</body>

</html>
