{% extends 'base_admin_content.html.twig' %}

{% block content %}
    <h1 class="mt-4">Подписка</h1>
    <div class="row">

        <div class="col-xl-8">
            <div class="alert alert-success" role="alert">
                Подписка Plus оформлена, до 01.01.1970
            </div>
            <section class="pricing py-2 row">
                <div class="container">
                    <div class="row">
                        {# ToDO: Вынести в отдельный компонент и отрисовывать в нем данные из БД по подпискам #}
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                    <h6 class="card-price text-center">$0<span class="period">/неделя</span></h6>
                                    <hr>

                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать
                                            более 1 статьи
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности
                                            генератора
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Продвинутые
                                            возможности генератора
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои
                                            модули
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase text-center current text-warning"><i
                                                class="fas fa-check"></i> Plus</h5>
                                    <h6 class="card-price text-center">$9<span class="period">/неделя</span></h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать
                                            более 1 статьи
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности
                                            генератора
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые
                                            возможности генератора
                                        </li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои
                                            модули
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-block btn-secondary text-uppercase" disabled>Текущий
                                        уровень</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                    <h6 class="card-price text-center">$49<span class="period">/неделя</span></h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Безлимитная
                                                генерация статей для вашего аккаунта</strong></li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности
                                            генератора
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые
                                            возможности генератора
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Свои модули</li>
                                    </ul>
                                    <a href="#" class="btn btn-block btn-primary text-uppercase">Оформить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
