{% extends 'base_admin_content.html.twig' %}

{% block content %}
    <h1 class="mt-4">Подписка</h1>
    <div class="row">

        <div class="col-xl-8">
            {# ToDo: Отображать, после успешной подписки #}
            <div class="alert alert-success" role="alert">
                Подписка Plus оформлена, до 01.01.1970
            </div>
            <section class="pricing py-2 row">
                <div class="container">
                    <div class="row">
                        {% for subscription in subscriptions %}
                            {% include 'admin/subscription/components/subscription_card.html.twig' with {subscription: subscription} %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
