{% extends 'base_admin_content.html.twig' %}

{% block content %}
    <section>

        <h1 class="mt-4">Ваши модули</h1>

        <div class="alert alert-success" role="alert">
            Модуль успешно добавлен
        </div>

        <table class="table table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Модуль</th>
                <th scope="col">Контент</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                {% include 'admin/module/components/module_info.html.twig' with {module: module} %}
            {% else %}
                <tr>
                    <td>Вы еще не создали свои модули</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(modules) }}
    </section>

    <hr>

    <section class="py-4">

        <h1 class="mt-4">Добавить модуль</h1>

        <div class="row">

            <div class="col-xl-6">
                <form>
                    <div class="form-group">
                        <label for="articleTitle">Название модуля</label>
                        <input type="text" id="articleTitle" class="form-control" placeholder="Название статьи" required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="articleWord">Код модуля</label>
                        <textarea id="articleWord" class="form-control" required></textarea>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </section>
    </div>
{% endblock %}
