<tr>
    <th scope="row">{{ article.id }}</th>
    <td>{{ article.title }}</td>
    <td>{{ article.description|default('-') }}</td>
    <td><a href="dashboard_article_detail.html"><i class="fas fa-eye"></i></a></td>
</tr>